body {
    margin: 60px auto;
    width: 70%;
    height: 100%;
}
html {
	height: 100%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 2px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
img {
    vertical-align: middle;
    margin:5px;
    padding:5px;
}
h3 {
	display: inline;
}
td#t01 {
	width: 280px;
}
td#t02 {
	width: 100px;
}
#biketrip {
	font-size: 2em;
	font-family: 'Helvetica';
	width: 80%;
	border: 2px solid black;
}
#biketrip tr {
	border: 1px black;
}
#biketrip td {
	text-align: center;
	border-bottom: 1px solid black;
}