---
layout: master
---
<body>
	<nav>
		<center>
		<h1>2018: A Bike Odyssey</h1>
		<HR>
    	<ul>
    	<li><img src="/res/biketrip/bike.png" height="50"></li>
    	<li><a href="/biketrip">Home</a></li>
        <li><a href="/biketrip/about">About</a></li>
        <li><a href="/biketrip/meals">Buy Us A Meal</a></li>
        <li><img src="/res/biketrip/bike.png" height="50"></li>
		</ul>
		</center>
		<HR>
	</nav>
	<div class="container">
	
	{{ content }}
	
	</div><!-- /.container -->
	<footer>
	<center>
		<ul>
			<li><a href="https://www.facebook.com/2018bikeodyssey/">facebook</a></li>
    		<li><a href="mailto:14nesterd@gmail.com">email us</a></li>
    	</ul>
    	<ul>
    		<li>David Nester</li>
    		<li>Jonatan Moser</li>
    		<li>Aaron Dunmore</li>
		</ul>
	</center>
	</footer>
</body>
