<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><b>2018: A Bike Odyssey</b></li>
	        		<li><a href="/biketrip">Home</a></li>
		        	<li><a href="/biketrip/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:14nesterd@gmail.com">email us</a></li>
	        		<li>David Nester</li>
	        		<li>Jonatan Moser</li>
	        		<li>Aaron Dunmore</li>
				</ul>
			</footer>
		</body>
	</html>